<!doctype html>
<html data-ng-app="EstimatePom">
<head>
	<meta charset="utf-8">
	<title>Time Estimation! Pom! Tomato!</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body>
	<div id="timer" data-ng-controller="TimerController as tc">
		<div id="time">{{ tc.timeLeft | timeify }}</div>
		<div>Current phase: {{ tc.phase ? tc.phase : "STOPPED" }}</div>
		<div><a ng-click="tc.start()">Start</a> <a ng-click="tc.cancel()">Cancel</a></div>
		<div>
			Poms done: {{ tc.poms }}
		</div>
	</div>

	
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>


<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="js/services/pomTimerService.js" type="text/javascript" charset="utf-8"></script>
<script src="js/timer/timerController.js" type="text/javascript" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
